<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--==CSS========================-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="/frontstage/css/nav.css">
	<link rel="stylesheet" href="/frontstage/css/dingcha.css">
	<link rel="stylesheet" href="/frontstage/css/footer.css">
	<!--Bootstrap外部連結檔案(CSS/JavaSprite)-->
	<link rel="stylesheet" href="/frontstage/_css/bootstrap.css">
	<script th:inline="javascript">
		/*<![CDATA[*/
		var shopId = /*[[${shopId}]]*/ null;
		var auth = /*[[${auth}]]*/null;
		var logInuserName =/*[[${userName}]]*/null;
		var logInorNot = logInuserName != null;
		var memberId = /*[[${memberId}]]*/null;
        /*]]>*/
	</script>

	<script src="/frontstage/_js/popper.min.js"></script>
	<script src="/frontstage/_js/bootstrap.js"></script>
	<script src="/frontstage/js/logOut.js"></script>

	<!--<script src="/frontstage/js/orderMethod.js"></script> -->
	<script src="/frontstage/js/sendOrder.js"></script>
	<script src="/frontstage/js/cart.js"></script>



	<!-- <script type="text/javascript" src="./jquery.store.js"></script> -->
	<!--web icon-->
	<!-- <link rel="shortcut icon" href="../code-4/logo/white/logo_04.png" type="image/x-icon" /> -->
	<!--======================================================================================================================= -->
</head>

<body>

	<!--nav導覽列頭-->
	<nav class="navbar navbar-expand-lg bg-light fixed-top py-0 " id="">
		<div class="container-fluid dingchaHead py-3" style="background-color: #95A58E;">
			<!-- Logo、官網名，連結首頁 -->
			<a th:href="@{'/shop/' + ${shopId} + '/shopindex'}" class="navbar-brand ms-3 py-0">
				<img src="/frontstage/logo/white/logo_04.png" style="height: 55px; width: auto;">
			</a>

			<!-- 響應式的導航欄 -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- 導覽欄About、Shopping、Connection、登入、購物車 -->
			<div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
				<div class="navbar-nav mx-auto text-center  ">
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/shopindex'}">Home</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/aboutUs'}">About</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/shoppingPage'}">Shopping</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/contactUs'}">Connection</a>
				</div>
				<!-- 登入Login、購物車按鈕icon -->


				<div class="dropdown me-1 row">
					<button class="btn  my-2 my-sm-0 dropdown-toggle col" type="button" data-bs-toggle="dropdown"
						aria-expanded="false"
						style="color: #ffffff; display: flex; flex-direction: row; align-items: center;">
						<img src="/backstage/icon/member.png" class="me-2" style="height: 30px; display: inline-block;"
							alt="">
						<span th:text="${userName!=null? userName:'Login'}" style="display: inline-block;"></span>
					</button>
					<ul class="dropdown-menu loginMenu text-center " id="navMembermenu" th:if="${userName!=null}">

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSignout" type="button"
								href="#"><img src="/frontstage/icon/white/leave.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">登出</a></li>

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSetting" type="button"
								th:href="@{'/shop/' + ${shopId} + '/member'}" href="#"><img
									src="/frontstage/icon/white/set.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">設定</a></li>
					</ul>

					<ul class="dropdown-menu loginMenu text-center " id="navMembermenu" th:else>
						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navLogin" type="button"
								th:href="@{'/shop/' + ${shopId} + '/login'}">
								<img src="/frontstage/icon/white/login.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">登入</a></li>

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSetting" type="button"
								th:href="@{'/shop/' + ${shopId} + '/member'}" href=""><img
									src="/frontstage/icon/white/set.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">設定</a></li>
					</ul>

					<button class="btn my-2 my-sm-0 col navCarticon" type="button">
						<a th:href="@{'/shop/' + ${shopId} + '/shoppingCart'}"><img
								src="/frontstage/icon/white/cart.png" style="width:30px; height: 30px;" alt="購物車"></a>
					</button>
				</div>
			</div>
		</div>
	</nav>
	<!--nav導覽列尾------------------- -->
	<!-- 主要畫面 --> <!--修改左右margin-->
	<div id="site" class="siteH1">

		<div id="content" class="mx-4 w-100">
			<h1 class="h1exceptMember">訂單紀錄</h1>
			<form id="shopping-cart" action="cart.html" method="post">
				<div class="shopping-cart text-center">


					<div class="row cart-head text-center rounded">
						<div class="col-2 d-flex align-items-center">商品列表</div>
						<div class="col-2 d-flex align-items-center">數量</div>
						<div class="col-2 d-flex align-items-center">價格</div>
						<div class="col-2 d-flex align-items-center">折扣後</div>
						<div class="col-2 d-flex align-items-center">運費</div>
						<div class="col-2 d-flex align-items-center">總計</div>
					</div>


					<div class="cart-body text-center rounded">
						<div class="cart-body text-center rounded">
							<!-- 這個部分是根據 orderId 查詢到的 Orderdetails 和 products 資料表的數據 -->
							<div th:each="orderDetail : ${orderDetailsList}">
								<div class="row cart-box rounded">
									<div class="col-2 d-flex align-items-center">
										<!-- 使用 orderDetail.product.picjson 來設置圖片的 src -->
										<img th:src="${orderDetail.product.picjson}" class="cart-img" alt="產品圖片">
										<!-- 使用 orderDetail.product.name 來設置產品名稱 -->
										<span th:text="${orderDetail.product.name}"
											class="inline-block product-name"></span>
									</div>
									<!-- 使用 orderDetail.quantity 來設置數量 -->
									<div th:text="${orderDetail.quantity}" class="col-2 d-flex align-items-center">
									</div>
									<!-- 使用 orderDetail.amount 來設置金額 -->
									<div th:text="${orderDetail.amount}" class="col-2 d-flex align-items-center"></div>
									<div th:text="${orderDetail.amount}" class="col-2 d-flex align-items-center"></div>
									<div class="col-2 d-flex align-items-center"></div>
									<div class="col-2 d-flex align-items-center"></div>
								</div>
							</div>
						</div>


						<div>
							<div class="row cart-box">
								<div class="col-2 d-flex align-items-center"></div>
								<div class="col-2 d-flex align-items-center"></div>
								<div class="col-2 d-flex align-items-center"></div>
								<div class="col-2 d-flex align-items-center"></div>
								<div class="col-2 ">$60</div>
								<!-- 使用 ${orders.amount} 來設置總金額 -->
								<div th:text="${orders.amount}" class="col-2 total-price "></div>
							</div>
						</div>


						<!-- <div class="row cart-box">
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 "></div>
							<div class="col-2 total-price "></div>
						</div> -->


						<!-- <div class="row cart-box">
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 d-flex align-items-center"></div>
							<div class="col-2 "></div>
							<div class="col-2 total-price "></div>
						</div> -->

					</div>

				</div>



				<!-- 付款方式、運送方式 -->
				<div class="row shoppingMethodbody">

					<div class=" col-md-2 my-2 d-flex align-items-center  ms-auto shoppingMethodbody01">付款方式：</div>

					<div class=" col-md-4  d-flex align-items-center">
						<span th:text="${orders.paymentMethod}" id="payment" class="form-control spanCart03">

						</span>
					</div>

					<div class=" col-md-2 my-2 d-flex align-items-center  ms-auto shoppingMethodbody01">運送方式：</div>

					<div class=" col-md-4  d-flex align-items-center">
						<span th:text="${orders.shipMethod}" id="shipMethod" class="form-control spanCart03">

						</span>
					</div>

				</div>
				<hr class="cart-hr" style="color: #3d3d3d;">

				<!-- 訂購姓名、電子郵件..... -->
				<div class="row shoppingMethodbody rounded-bottom">

					<div class=" col-md-2 my-2  d-flex align-items-center ms-auto shoppingMethodbody01">訂購姓名：
					</div>
					<div class=" col-md-4 my-2 "><span th:text="${orders.receiverName}" id="orderName" class="form-control spanCart03">Brad_chao</div>

					<div class=" col-md-2 my-2 d-flex align-items-center ms-auto shoppingMethodbody01">電子郵件：
					</div>
					<div class=" col-md-4 my-2 "><span th:text="${orders.receiverPhone}" id="orderEmail" class="form-control spanCart03">Brad@gmail.com
					</div>

					<div class=" col-md-2 my-2 d-flex align-items-center ms-auto shoppingMethodbody01">手機號碼：
					</div>
					<div class=" col-md-4 my-2 "><span th:text="${orders.receiverMail}" id="orderPhone" class="form-control spanCart03">0912-345678</div>

					<div class=" col-md-6 "></div>

					<div class=" col-md-2 my-2 d-flex align-items-center ms-auto shoppingMethodbody01">收件地址：
					</div>
					<div class=" col-md-10 my-2 "><span th:text="${orders.receiverAddress}" id="orderAddress"
							class="form-control spanCart03">台中市南屯區公益路二段51號18樓</div>

				</div>



			</form>
		</div>

	</div>


</body>

<!--footer-->
<footer class="text-center py-2 sticky-top" style="background-color: #95A58E;">
	<div class="container">

		<img src="./logo/white/logo_01.png" alt="版權商標" class="footer-icon-img">

		<p class="mb-0">版權所有 &copy; 頂茶TopTea.</p>
	</div>
</footer>