<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>付款結果通知</title>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="/frontstage/css/nav.css">
	<link rel="stylesheet" href="/frontstage/css/dingcha.css">
	<link rel="stylesheet" href="/frontstage/css/footer.css">
	<!--Bootstrap外部連結檔案(CSS/JavaSprite)-->
	<link rel="stylesheet" href="/frontstage/_css/bootstrap.css">
	<style>
		body {
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		#paymentStatus {

			text-align: center;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 8px;
		}
	</style>
</head>

<body style="display: flex;">
	<!--nav導覽列頭-->
	<nav class="navbar navbar-expand-lg bg-light fixed-top py-0 " id="">
		<div class="container-fluid dingchaHead py-3" style="background-color: #95A58E;">
			<!-- Logo、官網名，連結首頁 -->
			<a th:href="@{'/shop/' + ${shopId} + '/shopindex'}" class="navbar-brand ms-3 py-0">
				<img src="/frontstage/logo/white/logo_04.png" style="height: 55px; width: auto;">
			</a>

			<!-- 響應式的導航欄 -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- 導覽欄About、Shopping、Connection、登入、購物車 -->
			<div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
				<div class="navbar-nav mx-auto text-center  ">
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/shopindex'}">Home</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/aboutUs'}">About</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/shoppingPage'}">Shopping</a>
					<a class="nav-link" th:href="@{'/shop/' + ${shopId} + '/contactUs'}">Connection</a>
				</div>
				<!-- 登入Login、購物車按鈕icon -->


				<div class="dropdown me-1 row">
					<button class="btn  my-2 my-sm-0 dropdown-toggle col" type="button" data-bs-toggle="dropdown"
						aria-expanded="false"
						style="color: #ffffff; display: flex; flex-direction: row; align-items: center;">
						<img src="/backstage/icon/member.png" class="me-2" style="height: 30px; display: inline-block;"
							alt="">
						<span th:text="${userName!=null? userName:'Login'}" style="display: inline-block;"></span>
					</button>
					<ul class="dropdown-menu loginMenu text-center " id="navMembermenu" th:if="${userName!=null}">

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSignout" type="button"
								href="#"><img src="/frontstage/icon/white/leave.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">登出</a></li>

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSetting" type="button"
								th:href="@{'/shop/' + ${shopId} + '/member'}" href="#"><img
									src="/frontstage/icon/white/set.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">設定</a></li>
					</ul>

					<ul class="dropdown-menu loginMenu text-center " id="navMembermenu" th:else>
						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navLogin" type="button"
								th:href="@{'/shop/' + ${shopId} + '/login'}">
								<img src="/frontstage/icon/white/login.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">登入</a></li>

						<li><a class="dropdown-item  mx-auto mb-1 px-0 w-75 rounded" id="navSetting" type="button"
								th:href="@{'/shop/' + ${shopId} + '/member'}" href=""><img
									src="/frontstage/icon/white/set.png " alt="" class="me-2 mb-1"
									style="height: 20px;width: auto;">設定</a></li>
					</ul>

					<button class="btn my-2 my-sm-0 col navCarticon" type="button">
						<a th:href="@{'/shop/' + ${shopId} + '/shoppingCart'}"><img
								src="/frontstage/icon/white/cart.png" style="width:30px; height: 30px;" alt="購物車"></a>
					</button>
				</div>
			</div>
		</div>
	</nav>
	<!--nav導覽列尾------------------- -->

	<div id="paymentStatus"></div>

	<script th:inline="javascript">
		
		var jsonData = /*[[${jsonData}]]*/ 'aaa';	//取得後端傳送data
		var jsonObject = JSON.parse(jsonData);
		var shopId = localStorage.getItem("shopId") || 404;
		var authdata = localStorage.getItem("auth") || null;
		console.log(jsonData);

		if (jsonObject.RtnMsg == "Succeeded") {
			document.getElementById("paymentStatus").innerHTML = "付款成功<br>訂單編號:" + jsonObject.MerchantTradeNo;
			
			$.ajax({
				url: '/orderStateUpdate',
				method: 'POST',
				contentType: 'application/json; charset=UTF-8',
				data: jsonObject.MerchantTradeNo,
				success: function (response) {
					if (response == true) {
						
						window.onload = function() {alert("付款成功")
						getauth(authdata);
						window.location.href = "/shop/" + shopId + "/shopindex"}

					} else {
						
						window.onload = function() {alert("付款失敗")
						getauth(authdata);
						window.location.href = "/shop/" + shopId + "/shopindex"}
					}
				},
				error: function (err) {
					
					window.onload = function() {alert("付款失敗")
					getauth(authdata);
					window.location.href = "/shop/" + shopId + "/shopindex"}
				}

			})
		} else {
			document.getElementById("paymentStatus").innerHTML = "付款失敗<br>訂單編號:" + jsonObject.MerchantTradeNo;
			
			
			window.onload = function() {alert("付款失敗")
			getauth(authdata);
			window.location.href = "/shop/" + shopId + "/shopindex"}

		}
		function getauth(authData) {
			$.ajax({
				url: '/getauth',
				method: 'POST',
				contentType: 'application/json; charset=UTF-8',
				data: authData,
				success: function (response) {
					if (response == 1) {
						localStorage.removeItem("auth");
						localStorage.removeItem("shopId");

						window.location.href = "/shop/" + shopId + "/shopindex"
					} else if (response == 2) {
						alert("請先通過信箱驗證")
					}
				},
				error: function () {
					console.log(JSON.stringify(authData))
				}

			})
		}

	</script>
</body>

</html>